.eDesc-container {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  width: 95.1vw;
}
.e-desc {
  background-color: rgb(233, 234, 235);
  border: none;
  width: 100%;
  height: 40vh;
}
.select-st {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  width: 95.4vw;
  height: 8vh;
  flex-direction: column;
}
option {
  background-color: white;
}
option:hover {
  background: #666;
}

#states {
  width: 100%;
  height: 100%;
  background-color: rgb(233, 234, 235);
  border: none;
}
/* .edit-btn {
  background-color: rgb(23, 117, 185);
  color: white;
  margin-right: 0.5%;
  width: 47.2vw;
  height: 8vh;
  border-radius: 3px;
  border: none;
}
.cancel-btn {
  background-color: white;
  margin-left: 0.5%;
  width: 47.2vw;
  height: 8vh;
  border-radius: 3px;
  border: 1px solid rgb(200, 197, 197);
  color: rgb(136, 135, 135);
} */
